<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.administrator.chunhui">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".application.FrameApplication"
        android:allowBackup="true"
        android:icon="@mipmap/head"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/head"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".view.activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.activity.HomeActivity"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".view.activity.Multiplexing_Activity" />
        <activity android:name=".view.activity.CollectActivity" />
        <activity android:name=".view.activity.SettingActivity" />
        <activity android:name=".view.activity.AboutUsActivity"></activity>
        <activity android:name=".view.fragment.Project_DetailsActivity"></activity>
        <activity android:name=".view.activity.HomeDetailActivity"></activity>
    </application>

</manifest>